.ticketRoom {

    position: relative;
    width: 100%;
    min-height: 100vh;

    .ticketRoom__back {
        position: relative;
        top: 15px;
        left: 30px;
        
        @include styleText($color-black-1, $fs-16, $fw-400);

        transition: all .3s;

        &:hover {
            color: $color-orange-1;
        }
    }

    .ticket__chooseChair {

        padding: $pd-70 0;

        .ticket__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            width: 65%;
            margin: 0 auto;

            .ticket__cinema {
                h3 {
                    @include styleText($color-green-0, $fs-20, $fw-400);
                }

                p {
                    @include styleText($color-black-1, $fs-14, $fw-400);

                    font-style: italic;
                }
            }

            .ticket__price {

                display: none;
                visibility: hidden;

                transition: all .3s;

                h3 {
                    @include styleText($color-green-0, $fs-30, $fw-700);
                }
            }

            .ticket__timer {

                h3 {
                    @include styleText($color-orange-1, $fs-30, $fw-700);
                }

                p {
                    @include styleText($color-black-1, $fs-12, $fw-400);
                }
            }
        }

        .ticket__diagram {

            width: 80%;
            margin: 0 auto;

            .ticket__diagram--screen {
                img {
                    width: 90%;
                }
            }

            .ticket__diagram--listChair {

                .ticket__diagram--chair {
                    position: relative;

                    margin: 0 $mg-5 + 2;

                    cursor: pointer;

                    svg {
                        width: 35px;
                        height: 35px;
                    }

                    .number__chair {
                        position: absolute;
                        top: -30%;
                        left: 35%;

                        @include styleText($color-black-0, $fs-10, $fw-400);
                    }

                    .number__chairVip {
                        color: $color-orange-2;
                    }

                    .number__chairBooking {
                        color: #25a55f;
                    }

                    .number__chairBooked {
                        color: #d72323;
                    }

                    &.disabled {
                        cursor: no-drop !important;
                        pointer-events: none;
                    }
                }

                .chairVip {
                    fill: $color-orange-2;
                }

                .chairBooking {
                    fill: #25a55f;
                }

                .chairBooked {
                    fill: #d72323;
                }

                .ticket__diagram--character {
                    @include styleText($color-black-1, $fs-16, $fw-400);

                    display: inline-block;
                    margin-right: $mg-10;
                    width: 10px;
                }

                .ticket__diagram--line {
                    width: 100%;
                    height: 20px;
                }
            }

            .ticket__diagram--note {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 80%;
                margin-top: $mg-30;

                .note__chair--normal {

                    width: 150px;

                    .note__chair--small {
                        text-align: center;

                        svg {
                            width: 20px;
                            height: 20px;
                        }

                        &.normal {
                            fill: $color-black-0;
                        }

                        &.booking {
                            fill: #25a55f;
                        }

                        &.booked {
                            fill: #d72323;
                        }

                        &.vip {
                            fill: $color-orange-2;
                        }
                    }

                    .note__chair--title {
                        @include styleText($color-black-1, $fs-10 + 2, $fw-400);

                        text-align: center;
                    }
                }
            }
        }

    }

    .ticket__checkout {

        width: 100%;
        height: 100%;

        margin: $mg-5 auto;
        padding: 70px $pd-40;

        box-shadow: 0 0 15px rgba(0, 0, 0, .3);

        .ticket__totalPrice {
            @include styleText($color-green-0, $fs-30 + 5, $fw-700);

            text-align: center;

            padding-bottom: $pd-20;
            border-bottom: 1.5px dashed $color-gray-2;

        }

        .ticket__information {
            display: flex;

            padding: $pd-30 0;
            border-bottom: 1.5px dashed $color-gray-2;

            .ticket__information--image {

                flex-basis: 30%;
                img {
                    width: 100%;
                    height: 100%;
                    max-width: 80px;

                    object-fit: cover;
                }
            }

            .ticket__information--detail {

                flex-basis: 70%;

                text-align: center;

                .information__nameFilm {
                    @include styleText($color-green-0, $fs-20 + 5, $fw-700);
                }

                .information__nameSystemCinema {
                    @include styleText($color-black-0, $fs-14, $fw-400);

                    margin-top: $mg-20;
                }

                .information__daytime {
                    @include styleText($color-black-0, $fs-14, $fw-400);
                }
            }
        }

        .ticket__listChair {
            @include styleText($color-green-0, $fs-16, $fw-700);

            padding: $pd-20 0;
            border-bottom: 1.5px dashed $color-gray-2;

            .ticket__chair {
                @include styleText($color-green-0, $fs-16, $fw-400);
            }
        }

        .ticket__notify {

            margin-top: 80px;
            text-align: center;

            img {
                width: 15px;
                height: 15px;

                margin-bottom: $mg-5;
            }

            span {
                @include styleText($color-black-0, $fs-14, $fw-400);

                margin-left: $mg-10;
            }
        }

        .ticket__confirm {

            margin-top: $mg-30;

            text-align: center;


            .button__confirm {
                @include styleButton($color-green-0, $border-radius + 3, $pd-10, $pd-45);

                outline: none;
                border: none;

                color: $color-white-0;
            }
        }
    }

    .ticket__timeout {
        position: fixed;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        background-color: rgba($color: $color-black-0, $alpha: .5);

        .timeout__content {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 700px;
            height: 80px;

            background-color: $color-white-0;

            border-radius: 5px;

            .timeout__title {
                @include styleText($color-black-1, $fs-14, $fw-700);

                letter-spacing: .5px;

                .timeout__rebook {
                    @include styleText($color-red-0, $fs-14, $fw-700);
                }
            }
        }
    }

    .ticket__checkOutSmall {
        position: fixed;
        width: 100%;
        bottom: 0;

        display: none;
        visibility: hidden;

        background: $color-white-0;
        box-shadow: 0 -1px 0 0 $color-white-2, 0 1px 0 0 $color-white-2;

        .ticket__checkOutSmall--listChair {
            position: relative;

            width: 50%;
            
            padding: 0 $pd-40;

            display: flex;
            justify-content: center;
            align-items: center;

            flex-wrap: wrap;
            
            height: 50px;

            overflow: hidden;

            .ticket__checkOutSmall--chair {
                @include styleText($color-green-0, $fs-16, $fw-400);
            }
        }

        .ticket__checkOutSmall--confirm {
            position: relative;

            width: 50%;
            
            height: 50px;

            @include styleText($color-white-0, $fs-20, $fw-400);

                text-align: center;
                text-transform: uppercase;

                padding-top: $pd-15;

                cursor: pointer;

                background-color: $color-green-0;
        }
    }
}

//Responsive

.ticketRoom {

    @media screen and (min-width: 1440px){
        
        .ticket__chooseChair {
            .ticket__diagram {
                .ticket__diagram--listChair {
                    margin-left: 70px;
                }
            }
        }
    }

    @include responsive("extra") {

        .ticket__chooseChair {

            .ticket__content {

                width: 75%;
            }

            .ticket__diagram {

                width: 80%;
                margin: 0 auto;

                .ticket__diagram--screen {
                    img {
                        width: 95%;
                    }
                }

                .ticket__diagram--listChair {


                    .ticket__diagram--chair {

                        margin: 0 $mg-5;

                        svg {
                            width: 30px;
                            height: 30px;
                        }

                        .number__chair {
                            position: absolute;
                            top: -30%;
                            left: 35%;

                            @include styleText($color-black-0, $fs-10 - 2, $fw-400);
                        }
                    }

                    .ticket__diagram--character {
                        font-size: $fs-14;
                        margin-right: $mg-10;
                        width: 10px;
                    }
                }
            }
        }

        .ticket__checkout {

            .ticket__information {

                .ticket__information--image {
                    display: none;
                    visibility: hidden;
                }

                .ticket__information--detail {

                    flex-basis: 100%;
                }
            }
        }
    }

    @include responsive("extra-large") {

        .ticket__chooseChair {

            .ticket__content {

                width: 75%;
            }

            .ticket__diagram {

                width: 90%;
                margin: 0 auto;

                .ticket__diagram--screen {
                    img {
                        width: 95%;
                    }
                }

                .ticket__diagram--listChair {

                    margin-left: $mg-10;

                    .ticket__diagram--chair {

                        margin: 0 $mg-5;

                    }

                    .ticket__diagram--character {
                        margin-right: $mg-5;

                    }
                }
            }
        }

        .ticket__checkout {

            .ticket__totalPrice {
                font-size: $fs-30;
            }

            .ticket__information {

                

                .ticket__information--detail {

                    .information__nameFilm {

                        font-size: $fs-20;
                    }
                }
            }
        }
    }

    @include responsive("large") {

        .ticket__chooseChair {

            .ticket__content {
                width: 80%;

                .ticket__cinema {
                    h3 {
                        font-size: $fs-16;
                    }
                }

                .ticket__price {
                    display: block;
                    visibility: visible;
                }

                .ticket__timer {

                    p {
                        font-size: $fs-10;
                    }

                    h3 {
                        font-size: $fs-20 + 5;
                    }
                }
            }
        }

        .ticket__checkOutSmall {
            display: flex;
            visibility: visible;
        }
    }
}